@font-face {
  font-family: 'Blue Sky Standard';
  src: local("Blue Sky Standard"), url("/static/fonts/BlueSkyStandard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Blue Sky Standard';
  src: local("Blue Sky Standard"), url("/static/fonts/BlueSkyStandard-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Blue Sky Standard';
  src: local("Blue Sky Standard"), url("/static/fonts/BlueSkyStandard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Blue Sky Standard';
  src: local("Blue Sky Standard"), url("/static/fonts/BlueSkyStandard-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Blue Sky Standard';
  src: local("Blue Sky Standard"), url("/static/fonts/BlueSkyStandard-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Blue Sky Standard';
  src: local("Blue Sky Standard"), url("/static/fonts/BlueSkyStandard-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* min-width: 960px; */
}

a:not([link]) {
  text-decoration: none;
}